<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/application.css" rel="stylesheet" />
    <script src="../js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../angularjs/angular_1.2.17.js" type="text/javascript"></script>
    <script src="../angularjs/register.js" type="text/javascript"></script>
    <script src="../js/spin.js" type="text/javascript"></script>
    <script src="../js/main.js" type="text/javascript"></script>
</head>
<body ng-app="registerApp">
    <div style="margin-top: 100px;">
    </div>
    <div ng-controller="registerController">
        <form name="registerForm" class="form-horizontal col-sm-offset-4 col-sm-4" role="form" ng-submit="registerForm.$valid && postRegister()" novalidate>  <!---->
            <div class="form-group">
                <label for="User Account" class="col-sm-4 control-label">User Account</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="userAccount" placeholder="Enter the Account" ng-model="register.account" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter the Password" ng-model="register.password" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Confirm Password" class="col-sm-4 control-label">Confirm Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwdconfirm" placeholder="Confirm the Password" ng-model="register.confirmpwd" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Email" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" placeholder="foo@hp.com" ng-model="register.email" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="Telephone" class="col-sm-4 control-label">Telephone</label>
                <div class="col-sm-6">
                    <input type="tel" class="form-control" id="telephone" placeholder="Enter the Telephone" ng-model="register.tel" pattern="[0-9]{10}" title="telephone" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-sm-offset-4" style="width: 85px;">
                    Submit
                </button>
                <button type="reset" class="btn btn-primary" style="width: 85px;">
                    Reset
                </button>
            </div>
            <div class="alert alert-danger" ng-show="handlingTip.isVisible">{{handlingTip.message}}</div>
            <div class="form-group">
                <button type="button" class="btn btn-default col-sm-offset-4 col-sm-4" ng-click="goLogin()">
                    Login
                </button>
            </div>
        </form>
    </div>
</body>
</html>
